In [1]:
from sklearn.preprocessing import LabelEncoder

In [2]:
import pandas as pd
finaldf=pd.read_pickle('df18featuesy.p')
finaldf.head()

,RDEATH2016,RNATURALINC2016,RINTERNATIONALMIG2016,RDOMESTICMIG2016,RBIRTH2016,HPIUS,mortgrate,unemp,cpi,AL,...,RNATURALINC2016 (t-2),RINTERNATIONALMIG2016 (t-2),RDOMESTICMIG2016 (t-2),RBIRTH2016 (t-2),price (t-2),HPIUS (t-2),mortgrate (t-2),unemp (t-2),cpi (t-2),price
Year,,,,,,,,,,,,,,,,,,,,,
2011-01-01,11.632586,0.621868,-0.146322,-1.133994,12.254454,-0.002834,0.010616,-0.021505,0.004763,1,...,2.345519,0.327282,5.836523,11.563952,-0.024568,-0.002834,0.010616,-0.021505,0.004763,-0.077495
2011-01-01,9.871136,3.058662,-0.052136,1.807391,12.929798,-0.002834,0.010616,-0.021505,0.004763,1,...,1.962947,0.989585,14.768069,11.831760,-0.093731,-0.002834,0.010616,-0.021505,0.004763,-0.086218
2011-01-01,12.950211,-1.174622,0.910332,-2.496072,11.775588,-0.002834,0.010616,-0.021505,0.004763,1,...,0.621868,-0.146322,-1.133994,12.254454,-0.077495,-0.002834,0.010616,-0.021505,0.004763,-0.194399
2011-01-01,11.911623,-3.419789,0.076849,6.109510,8.491835,-0.002834,0.010616,-0.021505,0.004763,1,...,3.058662,-0.052136,1.807391,12.929798,-0.086218,-0.002834,0.010616,-0.021505,0.004763,-0.148970
2011-01-01,10.092682,3.397340,1.728471,0.993374,13.490022,-0.002834,0.010616,-0.021505,0.004763,1,...,-1.174622,0.910332,-2.496072,11.775588,-0.194399,-0.002834,0.010616,-0.021505,0.004763,-0.076972

In [5]:
# features = finaldf.columns
# features = features.drop('price')
# features
import numpy as np
finaldf['price'] = np.where(finaldf['price']>=0, 1, 0)

In [6]:
y = LabelEncoder().fit_transform(finaldf['price'])
X = pd.get_dummies(finaldf.drop('price', axis=1))

In [7]:
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier

cv = StratifiedKFold(n_splits=3, shuffle=True, random_state=41)

In [8]:
dt = DecisionTreeClassifier()
# plain 
s = cross_val_score(dt, X, y, cv=cv, n_jobs=-1)
print("{} Score:\t{:0.3} Â± {:0.3}".format("Decision Tree", s.mean().round(3), s.std().round(3)))

Decision Tree Score:	0.619 Â± 0.003

In [9]:
#boot strapping only - Joshi
dt = BaggingClassifier()
s = cross_val_score(dt, X, y, cv=cv, n_jobs=-1)
print("{} Score:\t{:0.3} Â± {:0.3}".format("Bagging", s.mean().round(3), s.std().round(3)))

Bagging Score:	0.664 Â± 0.005

In [10]:
dt = RandomForestClassifier()
s = cross_val_score(dt, X, y, cv=cv, n_jobs=-1)
print("{} Score:\t{:0.3} Â± {:0.3}".format("Random Forest", s.mean().round(3), s.std().round(3)))

Random Forest Score:	0.671 Â± 0.003

In [12]:
dt = ExtraTreesClassifier(class_weight = 'balanced')
s = cross_val_score(dt, X, y, cv=cv, n_jobs=-1)
print("{} Score:\t{:0.3} Â± {:0.3}".format("Extra Trees with Balanced Classes", s.mean().round(3), s.std().round(3)))

Extra Trees with Balanced Classes Score:	0.67 Â± 0.003